body {
  background-color: rgb(25, 25, 25);
}

h1 {
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  font-size: 56px;
  color: #FF496C;
}

.source {
  text-align: right;
  caption-side: bottom;
  color: white;
}

a {
  color: #FF496C;
}

a:active {
  color: #00b693;
}

.tg {
  border-collapse: collapse;
  border-color: #FF496C;
  border-spacing: 0;
  margin: 0 auto;
}

.tg td {
  background-color: rgb(25, 25, 25);
  border-color: #FF496C;
  border-style: solid;
  border-width: 2px;
  color: white;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  font-size: 28px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg th {
  background-color: rgb(25, 25, 25);
  border-color: #FF496C;
  border-style: solid;
  border-width: 2px;
  color: #FF496C;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  font-size: 28px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
  font-weight: bold;
}

.tg .tg-0pky {
  border-color: inherit;
  text-align: left;
  vertical-align: top;
}

.tg td, .tg th {
  padding: 20px;
}